{% extends "layout.html" %}
{% block content %}
<center><h3>Medicine Predictor</h3></center>

<div class="container">
      <label for="email"><b>Name of the pateint</b></label>
      <input type="text"  name="name" >

      <label for="psw"><b>Area</b></label>
      <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

     <label for="psw"><b>Symptom 2</b></label>
      <input type="text"  name="" >

     <label for="psw"><b>Symptom 3</b></label>
      <input type="text"  name="area" >

    <label for="psw"><b>Symptom 4</b></label>
      <input type="text" name="area" >

    <label for="psw"><b>Symptom 5</b></label>
      <input type="text"  name="area" >

    <label for="psw"><b>diesease migth be:</b></label>
    <input type="text"  name="area" >

      <button type="submit">Predict</button>

</div>


{% endblock content %}